@charset "utf-8";

body{
	margin: 0px;
	padding: 0px;
	background-color: powderblue;
	
	align-items: center;
	text-align: center;
	

}

.box{
	background-color: lightcoral;
	width: 600px;
	height: 450px;
	margin: 20px;
	border-radius: 20px;
	position: absolute;
    top: 20%;
    left: 30%
	
}
.text{
	color: blue;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: tomato;
  color: white;
  text-align: center;
}